html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

[data-theme='dark'] body {
  background-color: #212226;
  color: #FFF;
}

[data-theme='light'] body {
  background-color: #FFF;
  color: #212226;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(313deg) brightness(107%) contrast(101%);
}