.container {
  width: min(350px, 80vw);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.button:not(:last-child) {
  margin-bottom: 1rem;
}

.button_icon {
  padding: 0px;
  background-color: #ffffff;
  border-radius: 33%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.logo span {
  margin-inline-start: 0.15rem;
  font-size: 24px;
  font-weight: 500;
}

.conditions {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  transition-duration: 500ms;
  cursor: pointer;
  position: relative;
}

.checkbox_halo {
  position: absolute;
  transition-duration: 250ms;
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 200ms;
  border-radius: 33%;
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: -1;
}

.checkbox_halo_animated {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}


@keyframes ping {
  75%, 100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.conditions span {
  margin-inline-start: 0.5rem;
}

.error_message {
  text-align: justify;
  line-height: 18px;
  display: flex;
  margin-bottom: 0.5rem;
}